In [6]:
import yfinance as yf
import pandas as pd

In [2]:
google = yf.Ticker("GOOG")

In [3]:
df = google.history(period='1d', interval='1m')
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-01-21 09:30:00-05:00,1898.000000,1901.609985,1898.000000,1901.280029,56173,0,0
2021-01-21 09:31:00-05:00,1900.560059,1904.109985,1899.310059,1903.560059,9189,0,0
2021-01-21 09:32:00-05:00,1903.920044,1908.454956,1903.920044,1904.520142,10743,0,0
2021-01-21 09:33:00-05:00,1908.030029,1909.599976,1905.765015,1906.010010,26064,0,0
2021-01-21 09:34:00-05:00,1906.979980,1909.619995,1904.540039,1909.619995,13867,0,0

In [4]:
df[['Low']]

                                   Low
Datetime
2021-01-21 09:30:00-05:00  1898.000000
2021-01-21 09:31:00-05:00  1899.310059
2021-01-21 09:32:00-05:00  1903.920044
2021-01-21 09:33:00-05:00  1905.765015
2021-01-21 09:34:00-05:00  1904.540039
...                                ...
2021-01-21 13:35:00-05:00  1897.060059
2021-01-21 13:36:00-05:00  1896.785034
2021-01-21 13:37:00-05:00  1897.199951
2021-01-21 13:38:00-05:00  1896.709961
2021-01-21 13:39:44-05:00  1897.344971

[248 rows x 1 columns]

In [8]:
df['date'] = pd.to_datetime(df.index).time
df.set_index('date', inplace=True)
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
date,,,,,,,
09:30:00,1898.000000,1901.609985,1898.000000,1901.280029,56173,0,0
09:31:00,1900.560059,1904.109985,1899.310059,1903.560059,9189,0,0
09:32:00,1903.920044,1908.454956,1903.920044,1904.520142,10743,0,0
09:33:00,1908.030029,1909.599976,1905.765015,1906.010010,26064,0,0
09:34:00,1906.979980,1909.619995,1904.540039,1909.619995,13867,0,0